body {
    margin: 0;
    background: #111;
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
}

.title {
    margin-top: 15px;
}

#timer {
    font-size: 22px;
    margin-bottom: 10px;
}

canvas {
    background: white;
    border: 3px solid #555;
}

/* Control Button Layout */
#controls {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.control-btn {
    width: 60px;
    height: 60px;
    margin: 8px;
    font-size: 28px;
    border-radius: 12px;
    border: none;
    background: #ffffffcc;
    touch-action: manipulation;
}

/* Anti zoom */
html, body {
    touch-action: none;
    overscroll-behavior: none;
}

/* Popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: #fff;
    color: #111;
    padding: 25px 30px;
    border-radius: 12px;
    text-align: center;
}

.hidden {
    display: none;
}
